
<div class="col-sm-6 pull-right">
<%= form_for(@classroom) do |f| %>
	<div class="form-group">
	<%= f.label(:name, "نام کلاس")%>
	<%= f.text_field :name, class: "form-control" %>
	</div>
	<div class="form-group">
	<%= f.label(:teacher_id, "نام آموزگار: ")%>
	<%= f.select(:teacher_id) do %>
		<% @teachers.each do |c| %>
			<%= content_tag(:option, c.first_name + " " + c.last_name, value: c.id) %>
		<% end %>
	<% end %>
	</div>
	<div class="form-group">
	<%= f.label(:courses_name, "دروس ارائه شده")%>
	<%= f.text_field :courses_name, class: "form-control" %>
	<span id="helpBlock" class="help-block">نام دروس را با & از هم جدا کنید و از فاصله استفاده نکنید، این شیوه موقت است.</span>
	</div>
	<%= f.submit "ثبت", class: "btn btn-primary form-control" %>
<% end %>
</div>