<div class="container">
	<div class="col-lg-3 col-md-3">
		<%= render 'sidebar' %>
	</div>
	<div class="col-lg-9 col-md-9" >
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<h1 class="panel-title pull-right">مشخصات دانش‌آموز</h1>
				<div class="btn-group pull-left">
					<%= link_to "حذف دانش‌آموز", "#", class: "btn btn-sm btn-danger", role: "button", style:"border-radius: 4px 0px 0px 4px" %>		
					<%= link_to "تغییر", edit_student_path(@student.id), class: "btn btn-sm btn-warning", role: "button" %>
					<%= link_to "صدور کارنامه", "#", class: "btn btn-sm btn-success", role: "button", style:"border-radius: 0px 4px 4px 0px" %>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-2 col-sm-2">
						<%= image_tag @student.avatar,class: "img-rounded", style: "width:100%;height:auto;max-width:150px;margin-bottom:15px" %>
					</div>
					<div class="col-md-5 col-sm-5" >
						<ul class="list-group">
							<li class="list-group-item">نام آموزگار: <%= link_to @teacher_name, user_path(@teacher.id) %></li>
							<li class="list-group-item">کلاس: <%= link_to @student.classroom.name, classroom_path(@student.classroom.id) %></li>
							<li class="list-group-item">شماره‌ی شناسنامه: <%= @student.id_number %></li>
							<li class="list-group-item">تاریخ تولد: <%= @student.birth_date %></li>
						</ul>						
					</div>
					<div class="col-md-5 col-sm-5" >
						<ul class="list-group">
							<li class="list-group-item">نام: <strong><%= @student.first_name %></strong></li>
							<li class="list-group-item">نام خانوادگی:<strong> <%= @student.last_name%></strong></li>
							<li class="list-group-item">نام پدر: <%= @student.middle_name%></li>
							<li class="list-group-item">تلفن: <%= @student.phone %></li>
						</ul>						
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10 pull-right">
						<ul class="list-group">
							<li class="list-group-item">آدرس: <%= @student.address%></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10 pull-right">
						<div class="list-group">
						<div class="list-group-item">
							<p class="list-group-item-heading" style="margin-bottom:15px">توضیحات:</p>
							<p class="list-group-item-text" style="margin-right:20px;margin-bottom:10px"><%= @student.description%></p>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>