<div class="panel-group" >
	<div class="panel panel-default">
		<div class="panel-heading" >
			<h4 class="panel-title"><%= link_to "کلاس‌ها", classrooms_path %></h4>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" >
			<h4 class="panel-title"><%= link_to "دانش‌آموزان", students_path %></h4>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" >
			<h4 class="panel-title"><%= link_to "امتحانات", exams_path %></h4>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading" >
			<h4 class="panel-title"><%= link_to "کاربران", users_path %></h4>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" >
			<h4 class="panel-title"><%= link_to "تنظیمات", settings_path %></h4>
		</div>
	</div>
</div>