<%= form_for(@exam) do |f| %>
<%= f.hidden_field :score_range, value: 20 %>
<%= f.hidden_field :classroom_id, value: params[:classroom_id] %>
<div class="form-group">
	<%= f.label :title, "عنوان" %>
	<%= f.select(:title, [["نوبت اول","نوبت اول"],["نوبت دوم","نوبت دوم"],["تابستان","تابستان"]]) %>
</div>
<div class="form-group">
	<%= f.label :course_name, "نام درس" %>
	<%= f.select(:course_name, [["بخوانیم و بنویسیم","بخوانیم و بنویسیم"],["قرآن","قرآن"],["ریاضی","ریاضی"],["علوم","علوم"],["هنر","هنر"],["تربیت بدنی","تربیت بدنی"],["هدیه‌های آسمانی","هدیه‌های آسمانی"],["اجتماعی","اجتماعی"]]) %>
</div>
<div class="from-group">
	<%= f.label :exam_date, "تاریخ امتحان" %>
	<%= f.text_field :exam_date , class: "form-control" %>
	<span id="helpBlock" class="help-block">تاریخ را به صورت 1394/12/30 وارد کنید، این شیوه موقت است.</span>
</div>
<div class="form-group">
	<%= f.label :description, "توضیحات"%>
	<%= f.text_field :description, class: "form-control"%>
</div>
<hr>
<div class="table">
	<table class="table">
		<tr class="active">
			<td>#</td>
			<td>نام دانش‌آموز</td>
			<td>نمره</td>
			<td>توضیحات</td>
		</tr>
		<% i = 0 %>
		<%= f.fields_for :exam_results do |result| %>
			<%= result.hidden_field :student_id, value: @students[i].id %>
			<tr>
				<td><%= i + 1 %></td>
				<td><%= @students[i].first_name + " " + @students[i].last_name %></td>
				<td><%= result.text_field :result %></td>
				<td><%= result.text_field :description %></td>
			</tr>
			<% i = i + 1 %>
		<% end %>	  
	</table>
</div>
<div class="form-group">
	<%= f.submit "ثبت", class: "btn btn-lg btn-primary form-control" %>
</div>
<% end %>